body{
  overflow-x: hidden;
}

footer{
  margin-top: 50px;
  border-top: solid 1px black;
}

.strike {
  text-decoration: line-through;
  font-weight:100;
}

.unstrike {
  font-weight: 800;
}

.pointer{
  cursor: pointer;
}

.completed{
  color: green;
}
.incomplete{
  color: #ddd;
}

.width-100p{
  width: 100%;
}

ux-dialog-overlay.active {
  background-color: rgba(0, 0, 0, 0.70) !important;
}
