<div class="row">
  <div class="col-md-6 mb-3">
    <h3>Account Information</h3>
    <div class="mt-1">
      <label class="pull-left">Personal Information</label>
      <input type="text" placeholder="Email" [(ngModel)]="email" id="name" class="form-control" />
    </div>
    <div class="mt-1">
      <input type="text" class="form-control" [(ngModel)]="name" placeholder="Your Name">
    </div>
    <div class="mt-1">
      <input type="button" class="btn btn-primary" value="Save Changes" (click)="saveUserChanges()" />
    </div>

    <h3 class="mt-3">Change Password</h3>
    <div class=" mt-1">
      <input type="password" class="form-control" [(ngModel)]="currentPassword" placeholder="Current Password" required />
    </div>
    <div class="mt-1">
      <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="New Password" required />
    </div>
    <div class="mt-1">
      <input type="password" class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required />
    </div>
    <div class="mt-1">
      <input type="button" class="btn btn-primary" value="Change Password" (click)="changeUserPassword()" />
    </div>
  </div>

  <div class="col-md-5 offset-md-1">
    <h3>Delete Account</h3>
    <p>
      Click the button below to delete your account. This will delete your account and all associated data. This cannot be undone!
    </p>
    <div class="mt-1">
      <input type="button" class="btn btn-danger" value="Delete Account" (click)="deleteUser()" />
    </div>
  </div>
</div>
