<div class="row">
  <h4 class="mx-auto">Sign In</h4>
</div>

<div class="row">
  <p class="mx-auto">
    Before signing in, create a user at the registration page. After creating an account at the registration page, return to
    this page and sign in.
  </p>
</div>

<div class="row">
  <form (ngSubmit)="authenticate()" #authenticateForm="ngForm" class="col-md-4 mx-auto">
    <div class="row">
      <input class="form-control mt-1" type="text" [(ngModel)]="model.email" name="email" placeholder="Email" />
    </div>
    <div class="row">
      <input class="form-control mt-1" type="password" [(ngModel)]="model.password" name="password" placeholder="Password"
      />
    </div>
    <div class="row">
      <input class="btn btn-primary mt-1 width-100p" type="submit" value="Sign In" />
    </div>
  </form>
</div>

<div class="row mt-1">
  <div class="col-md-4 mx-auto {{error == false ? 'alert alert-success' : ''}} {{error == true ? 'alert alert-danger' : ''}}">{{message}}</div>
</div>
