body {
    overflow-x: hidden;
}

footer {
    margin-top: 50px;
    border-top: solid 1px black;
}

.pointer{
  cursor: pointer;
}

.logo {
  height: 60px;
}

.content-body {
  background-color: white;
  margin-bottom: -60px;
  padding-top: 95px;
}
