<div class="row">
  <h4 class="mx-auto">Register</h4>
</div>

<div class="row">
  <p class="mx-auto">
    To try out this application, please create an account. To register, provide an Email Address and Password. This is a demo
    application, no emails are sent. Email format is validated as part of the demo.
  </p>
</div>

<div class="row">
  <form (ngSubmit)="register()" #registerForm="ngForm" class="col-md-4 mx-auto">
    <div class="row">
      <input class="form-control mt-1" type="text" [(ngModel)]="model.email" name="email" placeholder="Email" />
    </div>
    <div class="row">
      <input class="form-control mt-1" type="password" [(ngModel)]="model.password" name="password" placeholder="Password"
      />
    </div>
    <div class="row">
      <input class="form-control mt-1" type="password" [(ngModel)]="model.confirmPassword" name="confirmPassword" placeholder="Confirm Password"
      />
    </div>
    <div class="row">
      <input class="btn btn-primary mt-1 width-100p" type="submit" value="Register" />
    </div>
  </form>
</div>

<div class="row mt-1">
  <div class="col-md-4 mx-auto {{error == false ? 'alert alert-success' : ''}} {{error == true ? 'alert alert-danger' : ''}}">{{message}}</div>
</div>
