<h2>What is Damn Stack</h2>

<p>Damn Stack is an open source application stack - designed to help a project get started faster. It is created with
  <a href="http://angular.io" target="_blank">Angular</a> (for the UI),
  <a href="https://www.microsoft.com/net/core#windowscmd" target="_blank">.NET Core</a> (for the API), and
  <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> (...for the DB).
</p>
<p>The goal of the project is to provide a starting point for new software applications, using a combination of tried-and-true technologies, brought together into a well architected, scalable system.</p>

<p>
  <strong>Because this site is for demonstration, the database could be wiped/recreated at any time.</strong>
</p>

<p>Project Source Repo:</p>
<p><a href="https://github.com/damnstack/stack">https://github.com/damnstack/stack</a></p>

<p>Project Deployment Repo:</p>
<p><a href="https://github.com/damnstack/stack-deploy.git">https://github.com/damnstack/stack-deploy.git</a></p>

<p>Docker Hub Repo:</p>
<p><a href="https://hub.docker.com/r/damnstack/stack/">https://hub.docker.com/r/damnstack/stack/</a></p>

<p>Contact/FAQ/Support:</p>
<p><a href="mailto:damnstack@outlook.com">damnstack@outlook.com</a></p>

