<h2>Home</h2>

<p>Glubfish Stack is an open source project, designed to help a project get started faster. It is created with
  <a href="http://angular.io" target="_blank">Angular</a>,
  <a href="https://www.microsoft.com/net/core#windowscmd" target="_blank">.NET Core</a>, and
  <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>.</p>

<p>The Angular application consumees a .NET Core Api. The API uses MongoDB as the data store.</p>

<h3>About This Project</h3>

<p>This application is a simple Todo list. The basic requirements for the project are as follows:</p>
<ul>
  <li>Angular Frontend App</li>
  <li>.NET Core API</li>
  <li>MongoDB</li>
  <li>Allow a user to register for an account</li>
  <li>Require a user to authenticate with a valid username and password to sign in</li>
  <li>Allow the user to manage a Todo list</li>
  <li>Allow the user to manage their profile information</li>
  <li>Angular - have a clean startup process (include determining if the user is already signed in)</li>
  <li>Angular - maintain session across browser/tab closing</li>
  <li>Angular - Use Bootstrap JS</li>
  <li>Angular - Use Typescript</li>
  <li>Angular - Create a library of external services to consume. Inlude the library in any components that need to use a web service.</li>
  <li>.NET Core - build an awesome API</li>
  <li>.NET Core - enforce authorization for all web services</li>
  <li>.NET Core - Use JWT tokens for security. Store the token in a cookie.</li>
  <li>.NET Core - Use an antiforgery token</li>
  <li>.NET Core - Use dependecy injection</li>
  <li>.NET Core - Use MongoDB as the data store</li>
  <li>MongoDB - Store Data. Easy as that :)</li>
</ul>

<h3>Maintenance</h3>

<p>May 2018</p>
<ul>
  <li>Updated Angular to 6.0.0</li>
  <li>Switched to Bootstrap CDN</li>
  <li>Switched to FontAwesome 5 and CDN</li>
  <li>Switched to BootBox CDN</li>
  <li>Added Dockerfile's and Docker Compose</li>
  <li>Moved project from Visual Studio Gallery to Github</li>
</ul>

<p>February 2018</p>
<ul>
  <li>General code clean up for the API</li>
  <li>Updated Angular to 5.2.4</li>
  <li>Updated to Bootstrap 4</li>
  <li>Added FontAwesome 4 (Bootstrap dropped Glyphicon support)</li>
  <li>Support for FontAwesome 5 will come when FontAwesome releases their Angular library</li>
  <li>Replaced ngx-modialog with
    <a href="http://bootboxjs.com/" target="_blank">BootBox.js</a>
  </li>
</ul>

<p>December 2017</p>
<ul>
  <li>Initial development of new project</li>
  <li>Replaced old AngularJS project</li>
  <li>Replaced old .NET 4.6 project</li>
  <li>Switched to MongoDB from SQL</li>
</ul>
